/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/* Chung */

.clear{
    clear: both;
}
/* CSS text white */
.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 32px;
}

.center{
    text-align: center !important;
}
.col{
    padding: 0 8px;
}

.col-third{
    float: left;
    width: 33.33333%;
}

/* Riêng */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav >li {
    display: inline-block;
    position: relative;
}


#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

}

#nav .subnav a {
    color: #000;
    padding: 0 14px;
    line-height: 38.5px;
    min-width: 160px;
}

#nav> li> a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block; 
}

#nav li:hover .subnav{
    display: block;
}
#nav >li:hover >a,
#nav .subnav li:hover a{
    content: "";
    /* display: block; */
    color: #000;
    background-color: #ccc;
}

#nav, .subnav{
    list-style-type: none;
}

#nav .icon-arrow {
    font-size: 14px ;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .icon-search{
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
    font-weight: 900;
}
#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/img/Slider/Slider1.jpg) top center /cover no-repeat;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    color: #fff;
    padding: 47px;
    text-align: center;
}
#slider .text-heading{
    font-weight: 300;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    font-weight: bold;
}
#container {
   
}
#container .content-section{
    width: 768px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;

}
#container .section-heading{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}
#container .section-sub-heading{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.5;
    margin: 25px 0;
}
#container .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#container .member-list{
    margin-top: 47px;
}

#container .member-name{
    font-size: 15px;
}
#container .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* CSS tour */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 35px;
    list-style: none;
}
.tickets-list li{
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color:#fff;
    background-color: #000;
    text-align: center;
    line-height: 23px;
    margin-top: -3px;
}
.places-list{
    /* margin: 32px -8px 0; */
    padding-bottom: 32px;
}

.place-item img{
    width: 100%;
    display: block;
}
.place-item img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin: 15px 0;
    color: #757575;
}
.place-desc{

}
.place-buy-btn{
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
#footer {

} 
.section-modal.open{
    display: flex;
}

.section-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    transform: translateY(-80px);
    animation: madalFadeIn ease 0.5s;
}
.modal-close-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px;
    color: #fff;
}
.modal-close-icon:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}
.modal-heading{
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    padding: 47px;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.modal-bag-icon{
    margin-right: 16px;
}
.modal-body{
    margin: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    /* display: block; */
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 11px;
    margin-bottom: 24px;
}
#buy-ticket{
    width: 100%;
    color: #fff;
    background-color: #009688;
    border: none;
    font-size: 15px;
    padding: 19px;
    text-transform:uppercase;
}
#buy-ticket:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal-help {
    text-align: right;
    padding: 16px;
}
.modal-help a{
    color: #2196F3;
}

@keyframes madalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-240px);
    }
    to{
        opacity: 1;
        transform: translateY(-80px);
    }
}

